@import 'common/settings/variables';
@import 'common/utils';

.kb-article {
  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.2;
    text-transform: uppercase;
  }

}