@import 'common/settings/variables';
@import 'common/utils';

.knowledge-base {
  position: relative;
  //background-color: transparentize(green, .5);

  &__header {
    height: 60px;
    padding: 0 15px;
    //background-color: transparentize(green, .5);
  }

  &__content {
    display: flex;
    max-height: calc(100vh - 60px);
    overflow: hidden;
    height: 100%;
    border-top: 2px solid $color-main-light-blue;
  }

  &__menu {
    padding-top: 30px;
    padding-left: 15px;
    width: 250px;
    flex-shrink: 0;
    //background-color: transparentize(red, .5);
  }

  &__articles {
    padding-top: 30px;
    flex-grow: 1;
    //background-color: transparentize(yellow, .5);
    .custom-scrollbar {

    }
    .inner-handle {
      border-radius: 0;
      background-color: $color-main-light-blue;
    }
  }

  &__article {
    padding: 30px 20px;
    &:nth-child(1) {
      padding-top: 0;
    }
    &:nth-last-child(1) {
      padding-bottom: 400px;
    }
  }

  &__sections {

  }

  &__section {
    padding: 20px 0 20px 20px;
    &:nth-last-child(1) {
      padding-bottom: 0;
    }
  }
}