@import 'common/settings/variables';
@import 'common/utils';

.knowledge-base {
  $this: &;
  position: relative;

  .inner-handle {
    border-radius: 0;
    background-color: $color-main-light-blue;
  }

  &__burger-btn {
    display: none;
    @include media($mobile) {
      display: block;
    }
  }

  &__content, &__loader {
    display: flex;
    min-height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    overflow: hidden;
  }

  &__loader {
    justify-content: center;
    align-items: center;
  }

  &__menu {
    width: 300px;
    padding-top: 30px;
    padding-left: 10px;
    flex-shrink: 0;
    -webkit-overflow-scrolling: touch;
    //background-color: transparentize(red, .5);
    @include media($mobile) {
      display: none;
    }
  }

  &__mobile-menu {
    z-index: 1;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    @include media($mobile) {
      display: flex;
    }
  }

  &__articles {
    padding: 30px 30px 0 60px;
    flex-grow: 1;
    -webkit-overflow-scrolling: touch;
    //background-color: transparentize(yellow, .5);
    @include media($mobile-sm) {
      padding: 30px 15px 0 15px;
    }
    .custom-scrollbar {
      right: 0;
    }
  }

  &__progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: transparentize($color-text-gray, .7);
    &-line {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: $color-main-light-blue;
      transition: width .2s linear;
    }
  }

  &__article {
    padding: 30px 30px 0 0;
    &:nth-child(1) {
      padding-top: 0;
    }
    &:nth-last-child(1) {
      #{$this}__section {
        &:nth-last-child(1) {
          min-height: calc(100vh - 62px);
        }
      }
    }
    @include media($mobile-sm) {
      padding-right: 15px;
    }
  }

  &__sections {

  }

  &__section {
    padding: 20px 0 20px 20px;
    &:nth-last-child(1) {
      padding-bottom: 0;
    }
  }
}